html{
  font-size:20px;
}


body {
    font-family: "Arial", "Meiryo", sans-serif;font-size: 20px;
  }

h1{
  font-family: "Josefin Sans", sans-serif;
  text-align:center;
  text-shadow:1px 1px 2px gray;
  font: size 2rem;
  letter-spacing:1.2em;
  border-bottom: solid 3px rgb(115, 115, 114);
}

.text-skyblue{
  color:#87ceeb;
  }
.text-pink{
  color:rgb(255,192,203);
}
h2{
  text-align:center;
}
p{
  text-align:center
}
#parent p  {
  font-weight: bold;
}
