#top{
     background-color:#dcc9f4;
     width:800px;
     margin:0 auto;
     position:relative;
     text-align: center;
}

.top-child{
    background-color:#ffd9df;
    width:20%;
    display:inline-block;
}

#middle{
    width:800px;
    height:800px;
    margin-top:20px;
    margin-bottom:20px;
    background-color: #ffd9df;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}

#middle-child01{
    width:200px;
    height:200px;
    background-color: #87ceed;
    position: absolute;
    top:100px;
    left:100px;
}

#middle-child02{
    width:200px;
    height:200px;
    background-color: #87ceed;
    position: absolute;
    top:300px;
    left: 300px;
}
#middle-child03{
    width:200px;
    height:200px;
    background-color: #87ceed;
    position: absolute;
    top:500px;
    left:500px;
}
#bottom{
    width:800px;
    height:300px;
    margin-top:20px;
    margin-bottom:20px;
    background-color: #87ceeb;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
#bottom-child01{
    width:400px;
    height:100px;
    background-color: #e5dcf0;
}
#bottom-child02{
    width:400px;
    height:100px;
    background-color: #e5dcf0;
    position:relative;
    left:200px;
}
#bottom-child03{
    width:400px;
    height:100px;
    background-color: #e5dcf0;
    position:relative;
    left:400px;
}